pip install django==1.11.10
pip install tweepy==3.5.0
pip install djangorestframework==3.6.3
pip install django-filter==1.1.0  # Filtering support
pip install djangorestframework-csv==2.0.0  # Export as csv
